#header {
    height:25px;
    background-color:yellow;
    font-size:15pt;
    text-align:right;
}
#ope {
    display:none;
}

#header_exit {
    float:right;
    margin-left:10px;
    margin-right:10px;
}

#wrongChar,#wrongEmail,#wrongPassword,#wrongUpdatePassword{
    color:red;
}