<!DOCTYPE html>
{% load staticfiles %}
<!-- 显示所有好友，并能够添加删除好友 -->
<html>
    <head>
		<meta charset="utf-8"/>
        <title>我的好友 小众点评</title>
        <!-- 添加合适的meta标签，与响应式CSS搭配 -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'mytalk/css/style.css' %}" />
        <!-- Bootstrap -->
        <link href="{% static 'mytalk/css/bootstrap.css' %}" rel="stylesheet"/>
        <style type="text/css">
      		body {
        		padding-top: 50px;
        		padding-bottom: 30px;
        		margin-bottom: 20px;
      		}
      	</style>
      	<!-- 启用响应式CSS -->
		<link href="{% static 'mytalk/css/bootstrap-responsive.css' %}" rel="stylesheet"/>
        <script src="{% static 'mytalk/js/jquery.js' %}" type="text/javascript"></script>
        <script src="{% static 'mytalk/js/check_input.js' %}" type="text/javascript"></script>
        <script src="{% static 'mytalk/js/friends.js' %}" type="text/javascript"></script>
    </head>
	
	<body>
		{% include 'mytalk/header.html'%}
		<div class="title">
			<h1>全部好友
			<span class="num">
				({{ size }}个)
			</span>
			</h1>
		</div>
		
		<hr />
		
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<div class="form-search navbar-form pull-right">
						<input type="text" class="input-medium search-query" onkeyup="check_uname(this.value,'wrongChar1')" id="userName" placeholder="输入好友用户名">
						<span id="wrongChar1"></span>
						<button type="submit" class="btn" onclick="searchFriend()">搜索</button>
						<!--<button onclick="addFriend()" class="btn">添加好友</button>	-->					
					</div>
					<hr />
				</div>
				<div id="showFL">{% include 'mytalk/friendsOperate.html' %}</div>
			</div>
			
			<hr />
			
			<div class="pagination setRight">
				<ul>
					<li><a onclick="changePageList('2','0')">Prev</a></li>
					<li><a id="c_1" onclick="changeFriendsList(this)">1</a></li>
					<li><a id="c_2" onclick="changeFriendsList(this)">2</a></li>
					<li><a id="c_3" onclick="changeFriendsList(this)">3</a></li>
                    <li><a id="c_4" onclick="changeFriendsList(this)">4</a></li>
                    <li><a id="c_5" onclick="changeFriendsList(this)">5</a></li>
					<li><a onclick="changePageList('2','1')">Next</a></li>
				</ul>
			</div>
		</div>
	</body>
</html>