<!--显示标题栏信息，用在 include 中-->
<div class="navbar navbar-inverse navbar-fixed-top"><!-- 导航条，反色，固定在顶部 -->
    <div class="navbar-inner"><!-- 导航条内容 -->
		<div class="container"><!-- 响应式导航条 -->
					
			<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><!-- 触发按钮 -->
				<span class="icon-bar"> </span>
				<span class="icon-bar"> </span>
				<span class="icon-bar"> </span>
			</a>
					
			 <!-- Be sure to leave the brand out there if you want it shown -->
			<a class="brand" href="../">小众点评</a>
					
			<!-- Everything you want hidden at 940px or less, place within here -->
			<div class="nav-collapse collapse">
				<!-- .nav, .navbar-search, .navbar-form, etc -->
				<ul class="nav">
					<li class="active"><a href="../">首页</a></li>
				</ul>
                <div class="form-search navbar-form form-inline">
                	<form class="span3 offset2" method="post" action="../search/">
						<input type="text" name="content" id="searchContent" onkeyup="check_uname(this.value,'wrongChar')" class="input-medium search-query"/>
						<input  type="submit" class="btn" value="搜索"/>
							
						
						<span id="wrongChar"></span>
					</form>
					<div class="pull-right">
						{% ifnotequal uid "" %}
						<strong><a class="navbar-link" href="../exchangeUserMessage">{{uid}}</a></strong>
						<a class="btn" href="../friends">好友管理</a>
						{% else %}
						<a class="btn" href="../signIn">登录</a>
						<a class="btn" href="../register/">注册</a>
						{% endifnotequal %}
						<a class="btn" onclick="operation_exit()" href="">退出</a>
					</div>
				</div>
            </div>
		</div>
	</div>
</div>
