<!-- 用户注册，以及用户信息修改的信息输入页面 -->
<div class="form-horizontal">
	<div class="control-group setNoMarginBottom">
		<label class="control-label">username:</label>
		<div class="controls">
			<input placeholder="输入英文字符，数字，或中文" id="username" name="username" type="text"
			value="{{ message.uid }}" maxlength="20" onkeyup="check_uname(this.value,'wrongChar')"/>
			<p id="wrongChar">
				{{ message.isUsername }}
			</p>
		</div>
	</div>

	<div class="control-group setNoMarginBottom">
		<label class="control-label">Email:</label>
		<div class="controls">
			<input onkeyup="check_email(this.value,'wrongEmail')" placeholder="输入合法邮箱"
			id="email" name="email" type="text" value="{{ message.email }}"/>
			<p id="wrongEmail">
				{{ message.isEmail}}
			</p>
		</div>
	</div>

	<div class="control-group setNoMarginBottom">
		<label class="control-label">password:</label>
		<div class="controls">
			<input onkeyup="check_login_password(this.value,'wrongPassword')"
			placeholder="输入合法密码" id="password" name="password" type="password" value=""/>
			<p id="wrongPassword">
				{{ message.isPassword }}
			</p>
		</div>
	</div>

	<div class="control-group setNoMarginBottom">
		<label class="control-label">password:</label>
		<div class="controls">
			<input onkeyup="check_update_password(this.value,'wrongUpdatePassword')" placeholder="再次输入合法密码"
			id="updatePassword" name="updatePassword" type="password" value=""/>
			<p id="wrongUpdatePassword">
				{{ message.isPassword }}
			</p>
		</div>
	</div>
</div>
