<!DOCTYPE HTML>
{% load staticfiles %}
<!--主题页面，被显示的主页面-->
<html>
	<head>
        <title>欢迎来到小众点评网</title>
		<!-- 添加合适的meta标签，与响应式CSS搭配 -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="{% static 'mytalk/css/bootstrap.css' %}" rel="stylesheet">
		<!-- 设置导航栏和布局之间的间隔 -->
		<style type="text/css">
			body {
				padding-top: 60px;
				padding-bottom: 20px;
			}
	
			.sidebar-nav {
				padding: 9px 0;
			}
		</style>
		<link href="{% static 'mytalk/css/bootstrap-responsive.css' %}" rel="stylesheet"><!-- 启用响应式CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'mytalk/css/style.css' %}" />  	
		<script src="{% static 'mytalk/js/jquery.js' %}" type="text/javascript"></script>    
	</head>
	
	<body>
		{% include 'mytalk/header.html'%}
		<!-- 固定布局 -->
		<div class="container-fluid">
			<div class="row-fluid">
				<!-- 搜索框 -->
				<div class="span4 offset4">
					<div class="input-append span12">
						<input class="span12" id="appendedInputButtons" type="text">
						<button class="btn" type="button">
							搜索
						</button>

						<div class="btn-group">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> 
								商户
								<span class="caret"> </span> 
							</a>
							<ul class="dropdown-menu">
								<!-- dropdown menu links -->
								<li><a href="">用户</a></li>
							</ul>
						</div>
					</div>
				</div>
				
				<div class="span10 offset1">
				<div class="hero-unit">
					<div class="row-fluid">
						<ul class="thumbnails">
							<li class="span6">
								<div class="thumbnail">
									<img class="span4" data-src="holder.js/160x120" alt=""
										src="http://imgstatic.baidu.com/img/image/shouye/yiping1.jpg">
									
									<div class="caption">
										<h3>商店名</h3>
										<p><a>XXX</a>:最近的点评</p>
										<a href="#shopModal" role="button"
											class="btn btn-primary" data-toggle="modal"> 更多... </a>
										{% include 'mytalk/shopComments.html'%}
									</div>
								</div>
							</li>
							<li class="span6">
								<div class="thumbnail">
									<img class="span4" data-src="holder.js/160x120" alt=""
										src="http://imgstatic.baidu.com/img/image/shouye/yiping1.jpg">
									
									<div class="caption">
										<h3>商店名</h3>
										<p><a>用户名</a>:最近的点评</p>
										<a href="#shopModal" role="button"
											class="btn btn-primary" data-toggle="modal"> 更多... </a>
										{% include 'mytalk/shopComments.html'%}
									</div>
								</div>
							</li>
							
						</ul>
						<ul class="thumbnails">
							<li class="span6">
								<div class="thumbnail">
									<img class="span4" data-src="holder.js/160x120" alt=""
										src="http://imgstatic.baidu.com/img/image/shouye/yiping1.jpg">
									
									<div class="caption">
										<h3>用户名</h3>
										<p><a>商店名</a>:最近的点评</p>
										<a href="#userModal" role="button"
											class="btn btn-primary" data-toggle="modal"> 更多... </a>
										{% include 'mytalk/userComments.html'%}
									</div>
								</div>
							</li>
							<li class="span6">
								<div class="thumbnail">
									<img class="span4" data-src="holder.js/160x120" alt=""
										src="http://imgstatic.baidu.com/img/image/shouye/yiping1.jpg">
									
									<div class="caption">
										<h3>用户名</h3>
										<p><a>商店名</a>:最近的点评</p>
										<a href="#userModal" role="button"
											class="btn btn-primary" data-toggle="modal"> 更多... </a>
										{% include 'mytalk/userComments.html'%}
									</div>
								</div>
							</li>
							
						</ul>
					</div>
				</div>
				</div>
			</div>
			{% include "mytalk/footer.html" %}
		</div>
		<!-- 此句脚本要放在后面，不然会使得该js文件无效 -->
		<script src="{% static 'mytalk/js/bootstrap.js' %}" type="text/javascript"></script>
	</body>
</html>